    <div>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Ingredient Categoies", "Index", "IngredientCategories")</li>
            <li>@Html.ActionLink("Recipe Categoies", "Index", "RecipeCategories")</li>
            <li>@Html.ActionLink("Measurement Types", "Index", "MeasurementType")</li>
            <li>@Html.ActionLink("Preparation Types", "Index", "PreparationType")</li>
        </ul>
    </div>
